/* background color */

#pageBody /* IDs are represented  by # */
{
	background-color: #49D0FC;	
}

/* ################################################################################################################################################################################*/

#main_content
{

}

/*the navigation bar to the left */
#nav_bar
{
	list-style-type: none;	
	margin: 0;
	padding: 0;
	width: 90px;
	background-color: gray;
	border: 1px black solid; /* don't have to distinguish border-width, border-color, border-style separately; you can do it all in one like this */
	display: inline-block;
	/* below code makes the nav_bar stick onto the page regardless of scroll */
    height: 100%; /* Full height; 100% of the page */
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if main page has too much content */
}

/*the actual links on the navigation bar */

.nav_links 
{
	display: block; /* Displaying the links as block elements makes the whole link area clickable (not just the text) */
	/*width: 60px;*/
	text-decoration: none; /* removes purple coloring/hyperlink -esque appearance */
	font-weight: bold;
	color: black;
	font-size: 18px;
	padding-top: 20px; 
	padding-bottom: 20px; 
	/* padding makes the navigation bar more spacey, less clumped */
	text-align: center;
	border-bottom: 1px black solid; 
	
}

/* removing the border from the last link. Always make last link the last item in the list */
#last_link
{
	border-bottom: none;
}

/* hover properties of links */
.nav_links:hover
{
background-color: black;
color: white;
}

/* removing visited properties of links */
.nav_links:visited
{
	text-decoration: none;
}

/* end of navigation Bar */